.user-info,
.comment-rate,
.comment-info,
.send-info,
.reply {
  display: flex;
}

.user-name,
.comment-info,
.comment-edit-reply {
  font-weight: 500;
}

.comment-date {
  color: $neutral-grayish-blue;
}

.comment-message {
  color: $neutral-grayish-blue;
}

.comment-info {
  align-items: center;
  margin-bottom: 10px;
}

.comment-rate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
  color: $primary-moderate-blue;
  background-color: $neutral-light-gray;
  border-radius: 10px;
  padding: 0px 7px;
  height: 45px;

  img {
    cursor: pointer;
  }
}

@media (max-width: 345px) {
  .comment-rate {
    column-gap: 10px;
  }
}

.comment-edit {
  margin-left: auto;

  & > * {
    cursor: pointer;
  }
  span {
    margin-left: 5px;
  }

  img {
    margin-left: 20px;
  }
}

.comment-edit-reply {
  color: $primary-moderate-blue;
}

.comment-edit-edit {
  color: $primary-moderate-blue;
}

.comment-edit-delete {
  color: $primary-soft-red;
}

.add-comment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 20px;
}

.comment-rate-flex-column {
  display: none;
}

@media (min-width: 760px) {
  .add-comment {
    flex-direction: row;
    align-items: start;
    gap: 10px;
  }

  .comment-rate-flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px 15px;
    margin-right: 20px;
    font-weight: 500;
  }

  .user-logo,
  .author-logo {
    max-width: 7%;
  }
}

.user-info {
  justify-content: start;
  align-items: center;
  gap: 10px;
}

@media (min-width: 760px) {
  .user-info {
    gap: 20px;
  }
}

.user-logo,
.author-logo {
  max-width: 10%;
}

.edit-text {
  width: 90%;
  margin-bottom: 20px;
}

.update-btn {
  margin-block: 15px;
  margin-right: auto;
}

@media (min-width: 760px) {
  .update-btn {
    margin-right: 0;
  }
}
